@{
    ViewBag.Title = "Ошибка портала";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-danger">
    <div class="panel-heading">Ошибка</div>
    <div class="panel-body">@ViewBag.ErrorMessage</div>
</div>
